venv
app_ecole/__pycache__/
app_ecole/views/__pycache__/
app_ecole/models/__pycache__/
app_ecole/migrations/__pycache__/
app_ecole/forms/__pycache__/
__pycache__/
ecole/__pycache__/
models/__pycache__/






